/* ============================================
   CUSTOM SCROLLBAR STYLING
   Customize these variables to change scrollbar appearance globally
   ============================================ */

body {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
  
}

/* input, textarea, select, button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border-radius: 0;
  box-shadow: none;
} */

::-webkit-scrollbar {
  width: 16px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  background-image: url(https://i.imgur.com/Qtm9Z60.png);
  border-top: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  background-image: url(https://i.imgur.com/IGXGYKz.png);
}

/* Hide duplicate button areas - only one up and one down */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}

::-webkit-scrollbar-button:vertical:increment {
  background-image: url(https://i.imgur.com/WhC8iy3.png);
  width: 14px;
  height: 16px;
  border-top: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(https://i.imgur.com/fQ18mrR.png);
  border-top: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 14px;
  height: 16px;
}
